.app {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
  background-color: #eeeeee;
  .table thead tr {
    display:block;
  }
  .table tbody {
    display: block;
    height: 80%;
    overflow: auto;
  }
  .table th {
width:10%;
  }
  .table td {
    width:20%;
  }
  .highlight
  {color:#fc5;background-color:#0f581a;}
  .progress{
    width:400%;
    border:1px solid #ccc;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
  }
  .Bar{
    width:50%;
    height: 28px;
    background: #5BC0DE;
  }
  .blue{
    background: #5BC0DE;
  }
  .red{
    background: #D9534F;
  }
  .green{
    background: green;
  }

}